<div [hidden]="hidden" [nzSpan]="span" nz-col>
  <nz-form-item nzFlex>
    <nz-form-label nzLg="8" nzMd="10" nzSm="12" nzXXl="8" nzXl="8" nzXs="18">{{item.name}}</nz-form-label>
    <nz-form-control nzLg="15" nzMd="13" nzSm="11" nzXXl="15" nzXl="15" nzXs="6">
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input [(ngModel)]="item.content" [placeholder]="'请输入'+item['name']" nz-input type="text"/>
      </nz-input-group>
      <ng-template #suffixTemplate
      ><i
        (click)="item.content = undefined"
        *ngIf="item.content"
        class="ant-input-clear-icon"
        nz-icon
        nz-tooltip
        nzTheme="fill"
        nzType="close-circle"
      ></i
      ></ng-template>
    </nz-form-control>
  </nz-form-item>
</div>
