<div
  [ngStyle]="{'background-color':backgroundColor}"
  class="">
  <div>
    <div style="text-align: left;width: 50%;display: inline-block;padding: 8px;">
      <div (click)="showTransfer=!showTransfer;" class="query-title primary-color">
        <a style="padding-right: 4px;">{{title}}</a>
        <a>
          <i nz-icon nzType="setting"></i>
        </a></div>
    </div>
    <div class="query-btns">
      <!--<button nz-button nzType="primary" nzSize="small" (click)="query()">查询</button>-->
      <a (click)="query()" class="primary-color">查询</a>
      <a (click)="resetForm()" style="margin-left: 8px">清空</a>
      <a (click)="toggleCollapse()">
        {{isCollapse ? '展开' : '收起'}}
        <i [type]="isCollapse ? 'down' : 'up'" nz-icon></i>
      </a>
    </div>
  </div>

  <form
    [ngStyle]="{'display':componentArray.length>0&&!isCollapse?'block':'none','background-color':backgroundColor}"
    nz-form
    style="padding-top: 0 !important;">
    <div nz-row>
      <div #template></div>
    </div>
  </form>
</div>


<nz-modal
  class="querylist-modal"
  [nzVisible]="showTransfer"
  (nzOnOk)="onOk()"
  (nzOnCancel)="showTransfer=false;"
  [nzTitle]="modalTitle"
>

  <nz-transfer #transfer
               [nzDataSource]="columns"
               [nzShowSearch]="search"
               [nzShowSelectAll]="selectAll"
               [nzOperations]="transferOptions"
               [nzListStyle]="{ 'width.px': transferWidth, 'height.px': transferHeight }"
               [nzTitles]="titleOptions"
               [nzRender]="render"
  >
    <ng-template #render let-item> {{ item['name'] ? item['name'] : item[0] }}</ng-template>
  </nz-transfer>
</nz-modal>

