<div #jointdiv [ngStyle]="{'width':isNumber(Width)?Width+'px':Width,'height':isNumber(Height)?Height+'px':Height}">
  <div class="joint-tool">
    <ul>
      <li (click)="scaleToFit()" >
        <a>
          <i nz-icon nzTheme="outline" [nz-tooltip]="'自适应'" nzType="fullscreen"></i>
        </a>
      </li>
      <li (click)="zoomIn()" >
        <a>
          <i nz-icon nzTheme="outline" [nz-tooltip]="'放大'" nzType="zoom-in"></i>
        </a>
      </li>
      <li (click)="zoomOut()">
        <a>
          <i nz-icon nzTheme="outline" [nz-tooltip]="'缩小'" nzType="zoom-out"></i>
        </a>
      </li>
    </ul>
  </div>
  <div id="jointdiv"></div>
</div>
