<div [hidden]="hidden" [nzSpan]="6" nz-col>
  <nz-form-item nzFlex>
    <nz-form-label nzLg="6" nzMd="6" nzSm="12" nzXXl="6" nzXl="6" nzXs="18">{{item.name}}</nz-form-label>
    <nz-form-control nzLg="18" nzMd="18" nzSm="12" nzXXl="18" nzXl="18" nzXs="6">
      <nz-input-group (click)="openHelp()" [nzAddOnAfter]="suffixIconButton" nzSearch>
        <input [(ngModel)]="item.content['name']" nz-input readonly type="text"/>
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzSearch nzType="primary" type="button">
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</div>

<smarthelp
  *ngIf="visible"
  [visible]="visible"
  (onCancel)="visible=false;"
  (onOk)="afterHelp($event)"
  [url]="url"
  [data]="data"
  [columns]="columns"
  [tree]="tree"
  [urlBody]="urlBody"
  [urlHeader]="urlHeader"
  [title]="title"
  [pageSize]="pageSize"
  [showJumper]="showJumper"
  [showPageSelection]="showPageSelection"
  [id]="id"
  [parentId]="parentId"
  [path]="path"
  [layer]="layer"

></smarthelp>
