<div #jointdiv [ngStyle]="{'width':Width*0==0?Width+'px':Width,'height':Height*0==0?Height+'px':Height}">
  <div class="joint-tool">
    <ul>
      <li>
        <a>
          <i nz-icon nzTheme="outline" nzType="fullscreen"></i>
        </a>
      </li>
      <li>
        <a>
          <i nz-icon nzTheme="outline" nzType="fullscreen"></i>
        </a>
      </li>
      <li>
        <a>
          <i nz-icon nzTheme="outline" nzType="fullscreen"></i>
        </a>
      </li>
      <li (click)="zoomIn()">
        <a>
          <i nz-icon nzTheme="outline" nzType="zoom-in"></i>
        </a>
      </li>
      <li (click)="zoomOut()">
        <a>
          <i nz-icon nzTheme="outline" nzType="zoom-out"></i>
        </a>
      </li>
    </ul>
  </div>
  <div id="jointdiv"></div>
</div>
