@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";


.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  word-break: break-all;
  -ms-word-break: break-all;
}

.ant-btn {
  margin-right: 8px;
}

.tb-search-header {
  padding: 8px;
}

.ant-form {
  padding: 8px !important;
}

.ant-input-search-button{
  margin-right: 0;
}
