Demo功能演示
<br>
<br>
<br>

<button nz-button [nzType]="'primary'" (click)="get()">get</button>
<br>
<br>

<button  nz-button [nzType]="'primary'" (click)="post()">post</button>

<querylist
  (onQuery)="query($event)"
  [backgroundColor]="'#fafafa'"
  [columns]="columns"
></querylist>

<!--确切引用,直接引用具体的帮助组件-->
<app-alphahelp (result)="afterHelp($event)"></app-alphahelp>

<!--动态引用,根据helpId选择帮助,需要ts脚本内添加switch选项-->
<app-helpcenter helpId="alpha" (result)="afterHelp($event)"></app-helpcenter>

<workflow [TreeData]="tree"    (blockClick)="showNode($event)"></workflow>

