Demo功能演示
<br>
<br>
<br>

<button nz-button [nzType]="'primary'" (click)="get()">get</button>
<br>
<br>

<button nz-button [nzType]="'primary'" (click)="post()">post</button>

<querylist
  (onQuery)="query($event)"
  [backgroundColor]="'#fafafa'"
  [columns]="columns"
  [colsInRow]="3"
></querylist>

<alphahelp [content]="{code:'0001',name:'确认加载方式'}" (result)="afterHelp($event)"></alphahelp>
<!---->
<helpcenter [content]="{code:'0001',name:'帮助中心动态帮助'}" helpId="alpha" (result)="afterHelp($event)"></helpcenter>
<!---->
<materialhelp (result)="afterHelp($event)"></materialhelp>

<flowchart [TreeData]="tree" [DataSource]="data" (blockClick)="showNode($event)"></flowchart>
