Demo功能演示
<br>
<br>
<br>

<button nz-button [nzType]="'primary'" (click)="get()">get</button>
<br>
<br>

<button nz-button [nzType]="'primary'" (click)="post()">post</button>

<br>
<br>
调用智能帮助
<br>
<br>
<button nz-button [nzType]="'primary'" (click)="visible=true">打开帮助</button>

<querylist
  (onQuery)="query($event)"
  [backgroundColor]="'#fafafa'"
  [url]="http.url.gridUrl"
></querylist>

<smarthelp
  *ngIf="visible"
  [tree]="true"
  [title]="'快捷帮助'"
  [visible]="visible"
  [id]="'code'"
  [url]="http.url.gridUrl"
  (onCancel)="visible=false;"
  (onOk)="afterHelp($event)">
</smarthelp>
